/*Variables*/
:root{
  
  --background-color-:rgba(202, 200, 200, 0.432);
}
@font-face {
  font-family: text;
  src: url(assets/Tektur-VariableFont_wdth\,wght.ttf);
}

/*animations*/
@keyframes cswap {
  from {color: red;}
  10%{ color: rgb(115, 255, 0);}
  20% {color: rgb(38, 149, 201);}
  30% {color: rgb(18, 122, 74);}
  40% {color:blue;}
  to {color:black;}
}

@keyframes slideIn {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
body{
  font-family:text;
  margin:0px;
  background-color: var(--background-color-);
}

header{
  padding: 0.5%;
  border-radius: 3%;
  background-color: rgba(160, 101, 86, 0.315);
  display: block;
  align-items: center;
  text-align: center;
  align-content: center;
  margin: 1%;
  animation: slideIn;
  animation-duration: 3s;

}
.head{
  animation:cswap;
  animation-duration: 3s;
  animation-delay: 500ms;
}

.selector{
  margin-left: 2%;
  margin-top: 4%;
  margin-bottom:10% ;
  display: block;
  align-items: center;
  text-align: center;
  align-content: center;
  animation: slideIn;
  animation-duration: 3s;
  animation-delay: 400ms;

}
img{
margin: 1%;
width: 5%;
display: flexbox;
align-items: center;
align-content:center;

}
img:hover{
  transform: translateY(+10px);
}