/*Variables*/
:root{
  
  --background-color-:rgba(202, 200, 200, 0.432);
}
@font-face {
  font-family: text;
  src: url(assets/Tektur-VariableFont_wdth\,wght.ttf);
}

/*animations*/
@keyframes example {
  from {background-color: red;}
  40% {background-color:blue;}
  to {background-color: yellow;}
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
body{
  font-family:text;
  margin:0px;
  background-color: var(--background-color-);
}

header{
  padding: 0.5%;
  border-radius: 3%;
  background-color: rgba(160, 101, 86, 0.315);
  display: block;
  align-items: center;
  text-align: center;
  align-content: center;
  margin: 1%;
  animation: slideIn;
  animation-duration: 3s;

}

.selector{
  margin-left: 2%;
}